<form action="/create_subject" method="post" enctype="multipart/form-data">

  <input type="hidden" name="cohort_id" value="<%= @dosing_cohort.id %>">

  <div class="form-group">
    <label for="profilenotes">
      Profilenotes
    </label>

    <input type="file" id="profilenotes" name="profilenotes" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create subject
  </button>
</form>
