<h1>
  Edit dosing cohort #<%= @dosing_cohort.id %>
</h1>

<hr>

<form action="/update_dosing_cohort/<%= @dosing_cohort.id %>" method="post">

  <div class="form-group">
    <label for="cohort_123">
      Cohort 123
    </label>

    <input type="text" id="cohort_123" name="cohort_123" class="form-control" value="<%= @dosing_cohort.cohort_123 %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update dosing cohort
  </button>
</form>

<hr>

<a href="/dosing_cohorts">
  Go back
</a>
