<h1>
  Add a new dosing cohort
</h1>


<hr>

<form action="/create_dosing_cohort" method="post">

  <div class="form-group">
    <label for="cohort_123">
      Cohort 123
    </label>

    <input type="text" id="cohort_123" name="cohort_123" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create dosing cohort
  </button>
</form>

<hr>

<a href="/dosing_cohorts">
  Go back
</a>
