<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Glucose Levels

    <a data-toggle="collapse" href="#subject_glucose_levels_new_form">
      Add glucose level
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @subject.glucose_levels.each do |glucose_level| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/glucose_levels/<%= glucose_level.id %>">
          <%= glucose_level.glucose_level %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_glucose_level_from_subject/<%= glucose_level.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="subject_glucose_levels_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
