<form action="/create_insulin_bolu_from_subject" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @insulin_bolu.name %>">
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @insulin_bolu.amount %>">
  </div>

  <input type="hidden" name="subject_id" value="<%= @subject.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create insulin bolu
  </button>
</form>
