<form action="/create_glucose_level_from_subject" method="post">

  <div class="form-group">
    <label for="glucose_level">
      Glucose level
    </label>

    <input type="text" id="glucose_level" name="glucose_level" class="form-control" value="<%= @glucose_level.glucose_level %>">
  </div>

  <input type="hidden" name="subject_id" value="<%= @subject.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create glucose level
  </button>
</form>
