<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Meals

    <a data-toggle="collapse" href="#insulin_bolu_meals_new_form">
      Add meal
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @insulin_bolu.meals.each do |meal| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/meals/<%= meal.id %>">
          <%= meal.name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_meal_from_insulinunits/<%= meal.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="insulin_bolu_meals_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "insulin_bolu_templates/insulin_bolu_meals_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
