<h1>
  Add a new insulin bolu
</h1>


<hr>

<form action="/create_insulin_bolu" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control">
  </div>

  <div class="form-group">
    <label for="subject_id">
      Subject
    </label>

    <%= select_tag(:subject_id, options_from_collection_for_select(Subject.all, :id, :cohort_id, @insulin_bolu.subject_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create insulin bolu
  </button>
</form>

<hr>

<a href="/insulin_bolus">
  Go back
</a>
