<h1>
  Edit meal time #<%= @meal_time.id %>
</h1>

<hr>

<!-- Form meal_time start -->
<form action="/update_meal_time/<%= @meal_time.id %>" method="post">
<!-- Form meal_time end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @meal_time.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update meal time
  </button>
</form>

<hr>

<a href="/meal_times">
  Go back
</a>
