<h1>
  Add a new meal time
</h1>


<hr>

<!-- Form meal_time start -->
<form action="/create_meal_time" method="post">
<!-- Form meal_time end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create meal time
  </button>
</form>

<hr>

<a href="/meal_times">
  Go back
</a>
