<% if @meal_time.present? %>
  <% if @meal_time.errors.any? %>
    <% @meal_time.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new meal time
</h1>


<hr>

<form action="/create_meal_time" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @meal_time.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create meal time
  </button>
</form>

<hr>

<a href="/meal_times">
  Go back
</a>
